body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
section {
    height: 95vh;
}
.first {
    background-image: url("header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.first-part {
    width: 36%;
    float: left;
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 5%;
}
.first-part1 {
    margin-top: 5%;
    width: 40%;
    float: left;
}
.header {
    width: 60%;
}
a.link {
    text-decoration: none;
    background-image: linear-gradient(45deg,#ec4d7ff3, #ec4d80);
    padding: 7px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
}

h2 {
    color: #0e0e0e;
    font-size: 30px;
    font-weight: 400;
    margin-top: 110px;
}
h1 {
    font-weight: 900;
    font-size: 40px;
    color: #EC4D80;
    margin-top: -15px;
    margin-bottom: 0;
}
p {
    font-weight: 400;
    margin-bottom: 30px;
}

img.header1 {
    width: 60%;
    margin-left: 50%;
}
.scound {
    background-image: url("biography-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}
a.link-a {
    text-decoration: none;
    background-image: linear-gradient(45deg,#ec4d7ff3, #ec4d80);
    padding: 7px 20px;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 400;
    color: #fff;
}
.thard {
    background-image: url("latest-work-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 75vh;
    background-position: center center;
}
h3 {
    font-size: 40px;
    text-align: center;
    margin-top: 100px;
    font-weight: 500;
}
.work {
    width: 70%;
    margin-left: 15%;
}
img {
    width: 30%;
    float: left;
    background-repeat: no-repeat;
    padding: 1%;
}

.what {
    background-image: url("footer-bg.png");
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    height: 90vh;
}
h4 {
    line-height: .1px;
}
.what-p {
    width: 28%;
    margin: auto;
    font-weight: 500;
    padding: 2% 0;
}
.box {
    background-image: linear-gradient(45deg,#ec4d7ff3, #ec4d80);
    width: 45%;
    padding: 17px 0;
    margin: auto;
    border-radius: 10px;
}
.box p {
    color: #fff;
    padding-top: 5px;
}
.box h4 a {
    text-decoration: none;
    font-size: 30px;
    color: #fff;
}
footer {
    text-align: center;
}